.description-text {
  h3 {
    font-size: 24px;
    font-weight: 800;
    color: var(--color-dark);
    margin-bottom: 24px;
  }

  p {
    font-size: 15px;
    line-height: 1.8;
    color: var(--color-dark);
    margin-bottom: 16px;
  }
}
